@page "/login"
@using InventoryManagementBlazorServer.Services
@using Microsoft.AspNetCore.Components
@inject AuthService AuthService
@inject NavigationManager Navigation

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<div class="mb-3">
    <label>Username</label>
    <input @bind="Username" class="form-control" />
</div>
<div class="mb-3">
    <label>Password</label>
    <input @bind-value ="Password" type="password" class="form-control" />
</div>

<button class="btn btn-primary" @onclick="HandleLogin">Login</button>

@code {
    private string Username { get; set; } = "";
    private string Password { get; set; } = "";
    private string ErrorMessage { get; set; } = "";

    private async Task HandleLogin()
    {
        var response = await AuthService.LoginAsync(Username, Password);

        if (response.Code==200)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            ErrorMessage = response.Message;
        }
    }
}