@using InventoryManagementBlazorServer.Services
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject TokenStorageService _tokenStorageService

<div class="container">
    <NavMenu />
    <div class="mt-4">
        @Body
    </div>
</div>